body{
    background-color: black;
}
.popo{
    width: 20;
    height: 600;
    outline: 2px solid rgb(0, 0, 0);
    justify-content: center;

}
.boton{
    text-align: center;
}
.titulo{
    text-align: center;
    font-size: 8em;
    font-family: fantasy;
    color: red  ;
    margin-top:0%;
}
#elh{
    color: blue;
    text-align: center; 
    
 }

.item{
    background-color: white;
    width: 20vw;
    margin: 10px;
    outline: 2px solid rgb(0, 0, 0);
    font-size: 5em;
    font-family: sans-serif;
    text-align: center;
    
}


.primera-fila{
    display: flex;
    justify-content: center;
}

.segunda-fila{
    display: flex;
    justify-content: center;
}

.tercera-fila{
    display: flex;
    justify-content: center;
}

.item:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
.contenido {
    position: absolute;
    
    line-height:0;
  }
