body{
    background-color: black;
}
.titulo{
    text-align: center;
    font-size: 8em;
    font-family: fantasy;
    color: red  ;
    margin-top:0%;
}
.conteiner{
    margin: auto;
    width: 600px;
    max-width: 100%;
    outline: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;

}

.item{
    background-color: white;
    width: 180px;
    height: 180px;
    max-width: 33.33%;
    outline: 2px solid rgb(0, 0, 0);
    font-size: 10em;
    font-family: sans-serif;
    text-align: center;
   
}

#elh{
   color: blue;
   text-align: center; 
}